#side-nav {
    position: fixed;
    background: #494950;
    width: 200px;
    height: 100vh;
    left: 0%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    transition: all .8s;
}

.hide {
    left: -100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

#logo {
    height: 50px;
    font-size: 1.5rem;
    font-weight: 800;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    list-style: none;
}

.links {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .5rem 1rem;
    justify-content: space-between;
}

.link {
    cursor: pointer;
}

.links ul li {
    width: 100%;
}

.link:hover i {
    transition: ease-in .2s;
    transform: translate(3px, 0px) rotate(0deg);
}

a {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: .9em;
    text-decoration: none;
}

.plus {
    display: flex;
    justify-content: space-between;
}

.add {
    background-color: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(5px);
    padding: .05rem .5em;
    border: none;
    color: white;
    cursor: pointer;
}

.header {
    height: 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.left-side {
    width: 100vw;
    height: 3rem;
    /* overflow-x: hidden; */
    transition: all 8s;
    display: flex;
    align-items: center;
}

#main {
    margin-left: 200px;
    max-width: 100%;
    transition: ease-in 300ms margin;
}

input {
    padding: .5rem;
    background: none;
    border: 1px solid #444;
    border-radius: 0;
    width: 15rem;
}

#hamburger {
    margin: 1rem;
    cursor: pointer;
    pointer-events: all;
}

.burger {
    height: 2px;
    width: 1.5rem;
    display: block;
    background: #444;
    margin: .4rem;
    pointer-events: none;
    transition: ease-in .4s;
}

.burger:nth-child(1).hide {
    background: crimson;
    transform: rotate(45deg) translate(27%, 244%);

}

.burger:nth-child(2).hide {
    opacity: 0;
    margin: .4rem !important;
}

.burger:nth-child(3).hide {
    background: crimson;
    transform: rotate(-45deg) translate(25%, -260%);

}

input:focus {
    outline: none;
}

#searcher button {
    background: none;
    border: 1px solid #444;
    padding: .5rem 1rem;
}

#searcher {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    width: 100%;
}